header {
background: #BAE6C3;
}

.profile-icon {
  height: 4em;
  width: 4em;
  border-radius: 50px;
  top: 1.25em;
  left: 1.25em;
  position: absolute;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
